/**
 * This is an example of an additional stylesheet that can be 
 * enqueued using the add_css module method. The files settings.css,
 * frontend.css and frontend.responsive.css don't need to be 
 * enqueued and will be included for you automatically.
 */
 

/*
     FILE ARCHIVED ON 03:38:08 Apr 18, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:34:06 Apr 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 196.618
  exclusion.robots: 0.191
  exclusion.robots.policy: 0.181
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 163.259 (3)
  PetaboxLoader3.datanode: 214.681 (5)
  load_resource: 126.666
  PetaboxLoader3.resolve: 27.613
  loaddict: 81.292
*/